0 1 * * * /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/sync_repo_attr.js
0 2 * * * /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/update_subject_amount.js
0 3 * * * /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/fetch_mem_avatar.js
30 3 * * * /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/search_index_news.js
0 4 * * 0 /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/search_index_repo.js
30 4 * * * /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/fetch_repo_releases.js
0 5 * * * /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/sync_repo_trend.js
0 6 * * * /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/fetch_new_repo.js
30 6 * * * /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/analyzer_repo.js
30 8 * * * /root/node-v8.1.0-linux-x64/bin/node /root/www/api/task/clear_data.js